/* Heron Creative 2019 */

* {
    margin: 0 0;
    padding: 0 0;
}

:root {
    font-size: 100%;
    font-family: "Lato", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media
    (min-resolution: 250dpi),
    (min-resolution: 2.6dppx),
    (-webkit-min-device-pixel-ratio: 2.6),
    (min--moz-device-pixel-ratio: 2.6) {

    :root{
        font-size: 150%;
    }
}

html {
}

.body {
}

button:focus {
    outline:0;
}

.white-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
    transition: opacity 2.5s;
    z-index: 12;
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s;
}

.background {
    position: relative;
    top: 0;
    height: 100vh;
    z-index: 9;
    background-image: linear-gradient(to top right, #FCEAA1, white);
}

#dot {
    position: fixed;
    top: -100%;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 1s ease-out;
}

.slogan-container {
    align-self: end;
    display: grid;
    margin-right: 2rem;
}

.slogan {
    font-size: 2rem;
    color: #111111;
    background: rgba(255,255,255,0.75);
    padding: 1.5rem;
    padding-left: 2.5rem;
    margin-right: auto;
}

.get-started {
    margin: 2.5rem;
    margin-left: 7rem;
    background-color: white;
    border: 3px solid #c8ab37;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Lato;
    color: #111111;
    height: 7rem;
    width: 18rem;
    align-self: end;
}

.topbar {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 11;
}

.topgrid {
    display: inline-grid;
    justify-content: space-between;
    grid-gap: 1vmin;
}

.hamburger {
    justify-self: left;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    height: 6rem;
    display: block;
    z-index: 14;
}

.topname {
    justify-self: left;
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 1.4rem;
    letter-spacing: 1.1rem;
    text-decoration: none;
    color: #c8ab37;
}

.toplogo {
    display: block;
    grid-row: 1;
    grid-column: 3;
    height: 5rem;
    justify-self: right;
    align-self: center;
    margin-right: 0.5rem;
}

.lock-scroll {
    overflow: hidden;
}

.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-image: linear-gradient(to right, #FEE998, #FFEAB8);
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.22s linear;
    will-change: transform;
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
}

.menu-open {
    transform: none;
    -webkit-transform: none;
}

.menu a {
    padding: 1rem 0;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: normal;
    color: #2C1A00;
    display: block;
    transition: 0.22s;
    justify-self: center;
}

.menu a:hover {
    color: #c8ab37;
}

.menu .line {
    height: 0.2rem;
    width: 20rem;
    background-color: #2C1A00;
    margin: 1rem;
    margin-bottom: 0.75rem;
    justify-self: center;
}

@media only screen and (min-width: 1000px) {

    .menu {
        width: 30rem;
    }

    .lock-scroll {
        overflow: scroll;
    }
}

.footer_container { 
    background-color: white;
    display: grid;
    justify-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 2rem;
    padding-top: 1rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    width:100%;
}

.footer-grid .contact-us {
    grid-column: 1;
    display: grid;
}

.footer-grid .info {
    grid-column: 1;
    display: grid;
}

.footer-grid .mailing-list {
    grid-column: 1;
    display: grid;
}

.footer-grid h3 {
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 2rem;
    color: #c8ab37;
}

.footer_container a {
    color: #33aacc;
    text-decoration: none;
}

.footer_container p {
    padding: 0.2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: #111111;
}

.footer_container form {
    display: grid;
    grid-gap: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 20rem auto;
}

.footer_container .email-box {
    min-width: 0;
    padding: 1rem;
    border: 3px solid #CCCCCC;
    font-size: 1rem;
    font-family: Lato;
    max-width: 20rem;
    color: #111111;
}

.footer_container .submit-button {
    grid-column: 2;
    width: 5rem;
    padding: 1rem 0;
    background-color: white;
    border: 3px solid #c8ab37;
    font-size: 1rem;
    font-family: Lato;
    font-weight: bold;
    color: #111111;
}

@media only screen and (min-width: 1400px) {

    .footer-grid {
        max-width: 100rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }

    .footer-grid .contact-us {
        grid-column: 1;
        grid-row: 1;
        justify-items: center;
        align-content: start;
    }

    .footer-grid .info {
        grid-column: 2;
        grid-row: 1;
        justify-items: center;
    }

    .footer-grid .mailing-list {
        grid-column: 3;
        grid-row: 1;
        align-self: start;
    }

    .footer-grid p {
        padding-left: 0;
    }
}

.socials {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template: 3rem / repeat(3, 3rem);
    justify-items: center;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 2rem;
}

.socials img {
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: #111111;
    transition: background-color 0.3s;
}

.socials img:hover {
    background-color: #c8ab37;
}

.footer_container .bottom {
    margin: 0;
    margin-top: 1rem;
    display: grid;
    justify-self: center;
    justify-items: center;
}

.footer_container .socials {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}

.footer_container .bottom p {
    font-size: 0.9rem;
    color: #666666;
    margin: 0;
    padding: 0;
    grid-column: 1;
}