

* {
        margin: 0 0;
        padding: 0 0;
}

html {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
}


.banner {
        background-color: black;
        box-shadow: 0 0 1rem -0.3rem;
        position: fixed;
        top: 0;
        width: 100%;
        height: 4rem;
        z-index: 2;
}

.banner .logo {
        height: 3rem;
        margin: 0.5rem 1rem;
        width: auto;
        float: left;
        grid-column: 1;
}

.banner .transparent {
        background-color: transparent;
}

.banner a {
        display: inline-block;
        text-decoration: none;
}

.banner a:hover {
        text-decoration: underline;
        text-decoration-color: #30b3ac;
}

.banner p {
        font-weight: 400;
        color: white;
        font-size: 1.5rem;
        color: white;
        margin: 0 2rem;
        position: relative;
        top: -1.3rem;
        display: none;
}

.hamburger {
        display: block;
        background-color: #30b3ac;
        position: fixed;
        right: 1rem;
        z-index: 4;
}


@media only screen and (min-width: 768px) {
        .banner p {
                display: block;
        }

        .hamburger {
                display: none;
        }
}


.hamburger img {
        height: 5rem;
        width: auto;
}

#menu {
        width: 20rem;
        position: fixed;
        z-index: 3;

        background-color: white;
        box-shadow: 0 0 0rem 4000px rgba(0,0,0,0);

        right: -20.5rem;
        transition: right 0.35s, box-shadow 0.35s;
        transition-timing-function: ease-in-out;
}

#menu .links {
        display: grid;
        grid-template: 1fr / 1fr;
        grid-auto-flow: row;
        justify-content: center;
        margin-bottom: 2rem;
}

#menu .title {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 1rem 8rem 1rem 2rem;
        font-family: "Josefin Sans";
        border-bottom: 0.1rem solid black;
        padding: 0.5rem 2rem;
}

#menu a {
        font-size: 2rem;
        padding: 0.5rem 2rem;
        text-decoration: underline;
        text-decoration-color: transparent;
        border-left: 0rem solid transparent;
        color: black;
        font-weight: 200;
        transition: padding-left 0.5s, border-left 0.5s;
}

#menu a:hover {
        text-decoration-color: transparent;
        border-left: 0.25rem solid #30b3ac;
        padding-left: 2.25rem;
}

#menu .filler {
        height: 0.5rem;
}


.filler {
        height: 4rem;
}

.marker {
        position: relative;
        top: -7rem;
}


#background-container:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url(../assets/background.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#background-container {
        width: 100%;
        height: 2000px;
        transition: height 0.5s;

        display: grid;
        grid-template: 20% 1fr 20% / 10% 1fr 10%;
        align-items: center;
        justify-items: center;

        box-shadow: inset 0 0 3rem -1rem rgba(0,0,0,0.3);

}

#background-container .logo {
        grid-column: 2;
        grid-row: 2;

        display: block;
        width:100%;
        height: 100%;
        object-fit: contain;
        background-color: transparent;
}


.white-background {
        background-color: white;
        margin: 0 0;
        padding: 0 0;
}


.main {
        display: grid;
        grid-template: 1fr / 1fr;
        padding: 2rem 2rem;
        background-color: white;
}

.main h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 800;
        font-size: 2.5rem;
        margin: 1.5rem auto;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        border-bottom: 0.1rem solid black;
        height: 2.6rem;
}

.main h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        margin: 2rem 2rem;
        text-decoration: underline;
        text-decoration-color: #30b3ac;
}

.main a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        margin: 0.5rem auto;
        text-decoration: underline;
        text-decoration-color: #30b3ac;
        color: #30b3ac;
}

.main p {
        margin: 0rem 1.5rem 2rem;
        font-size: 0.9rem;
}

.main img {
        width: 100%;
}


.projects {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;
}

@media only screen and (min-width: 768px) {
        .projects {
                grid-template: 1fr / repeat(3, 1fr);
        }

}

@media only screen and (min-width: 1200px) {
        .projects {
                grid-template: 1fr / repeat(4, 1fr);
        }

}

@media only screen and (min-width: 2000px) {
        .projects {
                grid-template: 1fr / repeat(5, 1fr);
        }

}

.projects .project {
        overflow: hidden;
        height: auto;
        display: inline-block;
}

.projects img {
        width: 100%;
        height: auto;
        display: block;
}

.projects a {
        margin: 0;
        text-decoration: none;
        color: black;
}

.projects h2 {
        margin: 0;
        margin-top: -2rem;
        font-weight: 600;
        font-size: 2rem;
        font-family: "Josefin Sans";
        text-decoration: none;
        position: relative;
        top: 6rem;
        transition: top 0.4s ease;
        background-color: #d6f0ee;
        display: inline-block;
}

.projects p {
        margin: 0;
        margin-left: 1rem;
        font-size: 1.5rem;
}


.about {
        background-color: #d6f0ee;
}

.about .center {
        width: 60rem;
        max-width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
}

.about h2 {
        color: black;
        font-family: "Josefin Sans";
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #30b3ac;
}

.about p {
        color: black;
        font-family: "Open Sans";
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem 1rem;
}


footer {
        background-color: black;
        display: grid;
        grid-template: 1fr / 1fr;
        justify-items: center;
        padding: 1rem 1rem;
}

footer h2 {
        color: white;
        font-family: "Josefin Sans";
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #30b3ac;
}

footer p {
        color: white;
        font-size: 1rem;
        font-weight: 200;
        margin: 0 auto; 
}

.socials {
        width: 100%;
        margin-bottom: 1rem;
        display: grid;
        grid-template: 3rem / repeat(3, 3rem);
        justify-items: center;
        justify-content: center;
        grid-auto-flow: column;
        column-gap: 2rem;
}

.socials img {
        display: block;
        height: 3rem;
        width: 3rem;
        background-color: white;
        transition: background-color 0.3s;
}

.socials img:hover {
        background-color: #30b3ac;
}