* {
    margin: 0 0;
    padding: 0 0;
    max-width: 100vw;
    box-sizing: border-box;
}

:root {
    --font-multiplier: 1;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

@media 
    (min-resolution: 250dpi),
    (min-resolution: 2.6dppx),
    (-webkit-min-device-pixel-ratio: 2.6) {

    :root {

        font-size: 1.5em;
    }

}

.body {
    height: 100%;
}

button:focus {
    outline:0;
}

.fade-in {
    animation: 1s linear 0s 1 fade-in;
    display: grid;
    max-width: 100vw;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    position: relative;
}

@keyframes 
fade-in {

    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }

}

@keyframes
drop-in {

    0% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0);
    }
}

.background {
    position: relative;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: #FCEAA1;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../assets/flowRoot78.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1em;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
}

@keyframes
slideInFromLeft {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }

}

.slogan-container {
    width: 100%;
    max-width: calc(100vw - 4rem);
    align-self: end;
    display: grid;
    margin-right: 2rem;
    margin-left: 2rem;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slogan {
    font-size: calc(2vw + 2rem);
    font-weight: 800;
    color: #3c3c3c;
    padding: 1.5rem;
    text-align:center;
}

.get-started {
    margin: 1.5rem;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,0.9);
    border: 3px solid #c8ab37;
    font-size: 1.3rem;
    font-family: "Montserrat";
    color: #111111;
    height: 5rem;
    width: 15rem;
    align-self: end;
    justify-self:center;
    transition: border-color 0.12s;
    cursor: pointer;
    z-index: 9;
}

.get-started:hover{
    border-color: #867114;
}

.topbar {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 11;
    animation: 1s ease-out 0s 1 drop-in;
}

.topgrid {
    display: inline-grid;
    grid-gap: 1vmin;
}

.hamburger {
    display: block;
    justify-self: left;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    height: 6rem;
    z-index: 14;
}

.links-bar {
    display: grid;
    grid-gap: 2rem;
    align-self: center;
    overflow-x: visible;
    grid-row: 1;
    grid-column: 2;
}

.links-bar .linkbarlink {
    display: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #4b4838;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    transition: color 0.22s;
}

.links-bar .linkbarlink:hover {
    color: #c8ab37;
}

.links-bar .topname {
    grid-row: 1;
    grid-column: 1;
    display: block;
    padding-left: 1rem;
    justify-self: center;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.1rem;
    text-decoration: none;
    color: #c8ab37;
}

.toplogo {
    display: block;
    grid-row: 1;
    grid-column: 3;
    margin: 0.5rem auto;
    height: 5rem;
    justify-self: right;
    align-self: center;
    margin-right: 0.5rem;
}

@media only screen and (min-width: 75rem) {

    .links-bar {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .links-bar .linkbarlink {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

.lock-scroll {
    overflow: hidden;
}

.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: -100%;
    background-color: white;
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    transform: none;
    -webkit-transform: none;
    transition: transform 0.22s linear;
    will-change: transform;
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    overflow: hidden;
}

.menu-open {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.menu .white-bg {
    display: grid;
    background-color: white;
    padding: 4rem 2rem;
    box-shadow: 0;
}

.menu h2 {
    font-size: 4.5rem;
    color: #2c2c2c;
    justify-self: center;
}

.menu h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.4rem;
    padding: 1rem 1rem;
    color: #c8ab37;
    justify-self: center;
}

.menu a {
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: normal;
    color: #2C1A00;
    display: block;
    transition: 0.22s;
    justify-self: center;
}

.menu a:hover {
    color: #c8ab37;
}

.menu .line {
    height: 0.15rem;
    width: 17rem;
    background-color: #2C1A00;
    margin: 1rem;
    margin-bottom: 0.75rem;
    justify-self: center;
}

.menu .socials {
    padding: 1rem;
    width: auto;
}

.menu .socials a {
    padding: 0;
}

.side-text {

    display: grid;
    position: fixed;
    z-index: 9;
    grid-gap: 0.5rem;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateX(-1rem) rotateZ(90deg) translateX(-50%);
}

.side-text .line {

    align-self: center;
    width: 5rem;
    height: 0.2rem;
    background-color: #2c2c2c;
    grid-row: 1;
}

.side-text p {

    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    grid-row: 1;
    color: #2c2c2c;
}

.scroll-progress {

    display: grid;
    position: fixed;
    z-index: 9;
    grid-gap: 0.5rem;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateX(1rem) rotateZ(-90deg) translateX(50%);
}

.scroll-progress p {

    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    grid-row: 1;
    color: #2c2c2c;
}

.scroll-progress .bar-bg {

    align-self: center;
    width: 12rem;
    height: 0.6rem;
    background-color: transparent;
    border: 2px solid #2c2c2c;
    grid-row: 1;
    grid-column: 2;
}

.scroll-progress .bar-fg {

    align-self: center;
    justify-self: right;
    width: 1px;
    height: 0.6rem;
    background-color: #2c2c2c;
    grid-row: 1;
    grid-column: 2;
    transform-origin: center right;
    transform: none;
}

#portfolio {
    display: grid;
    margin: 2rem;
    background-color: white;
    width: calc(100vw - 4rem);
}

#portfolio .portfolio-container {
    display: grid;
    width: 100%;
    max-width: 80rem;
    justify-self: center;
}

#portfolio .portfolio-grid {
    display: grid;
    width: 100%;
    max-width: 80rem;
    grid-gap: 2rem;
    justify-self: center;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
}

#portfolio h2 {
    font-size: 10rem;
    margin-bottom: -4.5rem;
    color: #2c2c2c;
    align-self: end;
    z-index: 1;
}

#portfolio .portfolio-grid .item {
    height: 20rem;
    width: 100%;
    max-width: calc(100vw - 4rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s;
}

#portfolio .portfolio-grid .item:hover {
    transform: scale(1.05);
}

#portfolio .portfolio-grid .BIHomes {
    background-image: url(../assets/BIHomes.png);
    grid-area: "e";
}

#portfolio .portfolio-grid .nimbus {
    background-image: url(../assets/nimbus.png);
    grid-area: "b";
}

#portfolio .portfolio-grid .mackerel {
    background-image: url(../assets/mackerel.png);
    grid-area: "d";
}

#portfolio .portfolio-grid .ebonylyte {
    background-image: url(../assets/ebonylyte.png);
    grid-area: "a";
}

#portfolio .portfolio-grid .winterleaf {
    background-image: url(../assets/winterleaf.png);
    grid-area: "c";
}

#portfolio .portfolio-grid .sunrise {
    background-image: url(../assets/sunrise.png);
    grid-area: "f";
}

@media only screen and (min-width: 80rem) {

    #portfolio .portfolio-grid {
        grid-template-areas:
            "a b"
            "c d"
            "e f";
    }
}

#what-we-offer {
    width: calc(100vw - 8rem);
    display: grid;
    margin: 2rem 4rem 0 4rem;
    background-color: white;
}

#what-we-offer .text-container {
    max-width: calc(100vw - 8rem);
    display: grid;
    max-width: 80rem;
    justify-self: center;
}

#what-we-offer h2 {
    font-size: 10rem;
    max-width: calc(100vw - 8rem);
    color: #2c2c2c;
    padding-bottom: 1rem;
    word-wrap: none;
}

#what-we-offer h3 {
    max-width: calc(100vw - 8rem);
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: #c8ab37;
    font-weight: normal;
}

#what-we-offer p {
    max-width: calc(100vw - 8rem);
    padding-bottom: 3rem;
    color: #111111;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: justify;
}

#what-we-offer img {
    width: 100%;
    padding-bottom: 3rem;
}

#what-we-offer .double-img {
    max-width: calc(100vw - 8rem);
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 5rem;
    align-items: center;
}

#what-we-offer .double-img h3 {
    font-size: 4rem;
    color: #2c2c2c;
    font-weight: 800;
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    margin: 0;
    padding-right: 3.5rem;
    align-self: center;
}

#what-we-offer .double-img img {
    padding: 0 0 3rem 0;
    margin: 0;
    display: block;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    max-width: 40rem;
}

#what-we-offer .double-img .img-1 {
    transform: translateX(-2rem) translateY(1rem);
    z-index: 1;
}

#what-we-offer .double-img .img-2 {
    transform: translateX(0) translateY(-1rem);
    z-index: 0;
    filter: grayscale(100%);
}

@media only screen and (min-width: 60rem) and (max-resolution: 250dpi),
                       (min-width: 60rem) and (max-resolution: 2.6dppx),
                       (min-width: 60rem) and (-webkit-max-device-pixel-ratio: 2.6) {

    #what-we-offer .double-img {
        grid-template-columns: 50% 50%;
    }

    #what-we-offer .double-img img {
        grid-column: 2;
        grid-row: 1;
    }

    #what-we-offer .double-img h3 {
        grid-row: 1;
    }
}

@media only screen and (min-width: 90rem) and (min-resolution: 250dpi),
                       (min-width: 90rem) and (min-resolution: 2.6dppx),
                       (min-width: 90rem) and (-webkit-min-device-pixel-ratio: 2.6) {

    #what-we-offer .double-img {
        grid-template-columns: 50% 50%;
    }

    #what-we-offer .double-img img {
        grid-column: 2;
        grid-row: 1;
    }

    #what-we-offer .double-img h3 {
        grid-row: 1;
    }
}

#what-we-offer .double-img-left {
    max-width: calc(100vw - 8rem);
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 5rem;
    grid-gap: 0 5rem;
    align-items: center;
}

#what-we-offer .double-img-left h3 {
    font-size: 4rem;
    color: #2c2c2c;
    font-weight: 800;
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}

#what-we-offer .double-img-left img {
    padding: 0 0 3rem 0;
    margin: 0;
    display: block;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    max-width: 40rem;
}

#what-we-offer .double-img-left .img-1 {
    transform: translateX(0rem) translateY(1rem);
    z-index: 1;
}

#what-we-offer .double-img-left .img-2 {
    transform: translateX(2rem) translateY(-1rem);
    z-index: 0;
    filter: grayscale(100%);
}

@media only screen and (min-width: 60rem) and (max-resolution: 250dpi),
                       (min-width: 60rem) and (max-resolution: 2.6dppx),
                       (min-width: 60rem) and (-webkit-max-device-pixel-ratio: 2.6) {

    #what-we-offer .double-img-left {
        grid-template-columns: 50% 50%;
    }

    #what-we-offer .double-img-left h3 {
        grid-row: 1;
        grid-column: 2;
    }
}

@media only screen and (min-width: 90rem) and (min-resolution: 250dpi),
                       (min-width: 90rem) and (min-resolution: 2.6dppx),
                       (min-width: 90rem) and (-webkit-min-device-pixel-ratio: 2.6) {

    #what-we-offer .double-img-left {
        grid-template-columns: 50% 50%;
    }

    #what-we-offer .double-img-left h3 {
        grid-row: 1;
        grid-column: 2;
    }
}

#testimonials {
    background-color: #FFF7D6;
    display: grid;
}

#testimonials .quotes-grid {
    justify-self: center;
    padding: 4rem 0;
    display: grid;
    justify-content: stretch;
    width: calc(100% - 6rem);
    max-width: 70rem;
    align-items: center;
    grid-gap: 2rem;
}

#testimonials .arrow {
    width: 3rem;
    grid-row: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.22s;
}

#testimonials .arrow:hover {
    opacity: 0.8;
}

#testimonials .right {
    justify-self: right;
    transform: rotateZ(180deg);
}

#testimonials .quote {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    transition: transform 0.5s;
}

@media (max-width: 50rem) {

    #testimonials .arrow {
        grid-row: 2;
        grid-column: 1;
        justify-self: center;
        transform: translateX(-3rem);
    }

    #testimonials .right {
        justify-self: center;
        transform: translateX(3rem) rotateZ(180deg);
    }

    #testimonials .quote {
        grid-column: 1;
    }
}

#testimonials .quote p {
    text-align: center;
}

#testimonials .quote .text {
    font-size: 2rem;
    font-family: Georgia;
    font-style: italic;
}

#testimonials .quote .stars {
    font-size: 2rem;
}

#testimonials .quote .name {
    font-size: 1.5rem;
}

#about-us {
    display: grid;
    padding: 4rem;
    background-color: white;
}

#about-us .text-container {
    display: grid;
    max-width: 80rem;
    justify-self: center;
    grid-gap: 3rem;
}

#about-us h2 {
    font-size: 10rem;
    margin-bottom: -3rem;
    color: #2c2c2c;
}

#about-us p {
    padding-bottom: 2rem;
    color: #111111;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
}

#contact-us {
    display: grid;
    padding: 3rem;
    background-color: #FFF7D6;
}

#contact-us .text-container {
    display: grid;
    width: 100%;
    max-width: 80rem;
    justify-self: center;
}

#contact-us h2 {
    font-size: 7rem;
    padding-bottom: 2rem;  
    color: #2c2c2c;
}

#contact-us p {
    padding-bottom: 2rem;
    color: #111111;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

#contact-us form {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
}

#contact-us form input {
    min-width: 0;
    padding: 1rem;
    border: 3px solid #555555;
    font-size: 1rem;
    font-family: Montserrat;
    color: #111111;
    background-color: white;
}

#contact-us form textarea {
    height: 8rem;
    min-width: 0;
    padding: 1rem;
    border: 3px solid #555555;
    font-size: 1rem;
    font-family: Montserrat;
    color: #111111;
    background-color: white;
}

#contact-us form .email-box {
    grid-row: 1;
    grid-column: 1;
}

#contact-us form .name-box {
    grid-row: 1;
    grid-column: 2;
}

#contact-us form .message-box {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#contact-us form .message-send-button {
    grid-row: 3;
    grid-column: 2;
    width: 10rem;
    margin-bottom: 1rem;
    justify-self: right;
    border-radius: 1rem;
    border: 3px solid #c8ab37;
    cursor:pointer;
}

@media only screen and (max-width: 40rem) {


    #contact-us form .email-box {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #contact-us form .name-box {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #contact-us form .message-box {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #contact-us form .message-send-button {
        grid-row: 4;
        grid-column: 2;
    }
}

#contact-us a {
    color: #33aacc;
    text-decoration: none;
}

footer {
    background-color: white;
    display: grid;
}

.footer_container {
    padding: 2rem;
    background-color: white;
    display: grid;
    justify-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.footer-grid h3 {
    font-weight: 800;
    font-size: 2rem;
    color: #2c2c2c;
    text-align: center;
    padding-bottom: 0.3rem;
}

.footer_container a {
    color: #33aacc;
    text-decoration: none;
}

.footer_container p {
    padding: 0.2rem;
    font-size: 1.2rem;
    color: #111111;
    text-align: center;
}

.footer_container .small {
    padding: 0.2rem;
    font-size: 1rem;
    color: #555555;
    text-align: center;
}

.socials {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template: 3rem / repeat(3, 3rem);
    justify-items: center;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 2rem;
    background-color: white;
}

.socials img {
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: #111111;
    transition: background-color 0.3s;
}

.socials img:hover {
    background-color: #c8ab37;
}

.footer_container .socials {
    grid-row: 2;
    grid-column: 1;
}


.description {
    display: grid;
    padding: 8rem 4rem 2rem 4rem;
    justify-self: center;
    width: 100%;
    max-width: 80rem;
}

.description h2 {
    font-size: 3rem; 
    color: #2c2c2c;
}

.description h3 {
    font-size: 1.2rem; 
    color: #c8ab37;
    font-weight: 400;
    letter-spacing: 1.1rem;
    padding-bottom: 2rem;
}

.description p {
    font-size: 1.2rem;
}

.images {
    display: grid;
    width: 100%;
    height: 80rem;
    margin: 3rem;
    max-width: 80rem;
    grid-gap: 1rem;
    justify-items: center;
    justify-self: center;
    grid-template-areas: 
    "a a b b"
    "a a b b"
    "c c b b"
    "d e e e"
    "d e e e";
}

.images .item {
    height: 100%;
    width: 100%;
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.images .a {
    grid-area: a;
}

.images .b {
    grid-area: b;
}

.images .c {
    grid-area: c;
}

.images .d {
    grid-area: d;
}

.images .e {
    grid-area: e;
}

.images .cards {
    background-image: url(../assets/ebonylytecards.jpg);
}

.images .bottle {
    background-image: url(../assets/ebonylytebottle.jpg);
}

.images .sign {
    background-image: url(../assets/ebonylytesign.jpg);
}

.images .pen {
    background-image: url(../assets/ebonylytepen.jpg);
}

.images .tag {
    background-image: url(../assets/ebonylytetag.jpg);    
}