* {
  margin: 0 0;
  padding: 0 0;
}

h1, h2, p {
  font-family: "Segoe UI";
}

h1 {
  font-weight: 600;
  color: #24292e;
  text-indent: 1em;
}

h2 {
  font-style: italic;
  font-weight: 100;
  color: #7b7e81;
  text-indent: 3em;
}

.banner {
  width: 100%;
  background-color: #24292e;
}

.banner p {
  font-weight: 600;
  color: #ffffff;
  text-indent: 1em;
  padding: 0.5em 0;
}
